@model VinasaWeb.Models.SeminarParticipant

<div class="input-wrapper">
    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "ip-form", @required = "required" } })
    @Html.LabelFor(model => model.Name, new { @class = "lb-form" })
</div>

<div class="input-wrapper">
    @Html.EditorFor(model => model.TaxNumber, new { htmlAttributes = new { @class = "ip-form", @required = "required" } })
    @Html.LabelFor(model => model.TaxNumber, new { @class = "lb-form" })
</div>

<div class="input-wrapper">
    @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "ip-form", @required = "required" } })
    @Html.LabelFor(model => model.Company, new { @class = "lb-form" })
</div>

<div class="input-wrapper">
    @Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "ip-form", @required = "required" } })
    @Html.LabelFor(model => model.Position, new { @class = "lb-form" })
</div>

<div class="input-wrapper">
    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "ip-form", @required = "required" } })
    @Html.LabelFor(model => model.Email, new { @class = "lb-form" })
</div>

<div class="input-wrapper">
    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "ip-form", @required = "required" } })
    @Html.LabelFor(model => model.PhoneNumber, new { @class = "lb-form" })
</div>

<div class="input-wrapper">
    @Html.LabelFor(model => model.ProvinceId, new { @class = "lb-form" })
    <select name="ProvinceId" class="form-control select-region">
        <option value="none">Chọn Khu Vực</option>
        <option value="">HCM</option>
        <option value="">HN</option>
        <option value="">MT</option>

    </select>
</div>

<div class="input-wrapper">
    @Html.EditorFor(model => model.JobTitle, new { htmlAttributes = new { @class = "ip-form", @required = "required" } })
    @Html.LabelFor(model => model.JobTitle, new { @class = "lb-form" })
</div>

<div class="input-wrapper">
    @Html.EditorFor(model => model.Operation, new { htmlAttributes = new { @class = "ip-form", @required = "required" } })
    @Html.LabelFor(model => model.Operation, new { @class = "lb-form" })
</div>

<div class="input-wrapper">
    <label class="form-check-label">
        @Html.CheckBoxFor(m => m.RegistrySeminar, new {@class = "form-check-input" })
        @Html.DisplayNameFor(model => model.RegistrySeminar)
    </label>
</div>

<div class="input-wrapper">
    <label class="form-check-label">
        @Html.CheckBoxFor(m => m.RegistryBusinessMatching, new { @class = "form-check-input" })
        @Html.DisplayNameFor(model => model.RegistryBusinessMatching)
    </label>
</div>

<div class="input-wrapper">
    <label class="form-check-label">
        @Html.CheckBoxFor(m => m.RegistryExhibition, new { @class = "form-check-input" })
        @Html.DisplayNameFor(model => model.RegistryExhibition)
    </label>
</div>

<div class="input-wrapper">
    <label class="form-check-label">
        @Html.CheckBoxFor(m => m.RegistryTicket, new { @class = "form-check-input" })
        @Html.DisplayNameFor(model => model.RegistryTicket)
    </label>
</div>
<div class="button-form">
    <input type="submit" class="button" value="Xác Nhận"></input>
    <input type="button"
           value="Hủy"
           onclick="location.href='@Url.Action("Index", "SeminarParticipants")'" />
</div>